# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Configurator/host/config_host
ProtectLayer/demo_CTP/BS_host/BS_CTPdemo
ProtectLayer/demo_uTESLA/BS_host/BS_uTESLAdemo
